* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  background-color: #f8f9fa;
  padding: 13px 19px;
  box-shadow: 0 4px 8px rgba(167, 98, 98, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 90px;
  height: 60px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.nav-links ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.nav-links a::after {
  content: "";
  display: block;
  height: 2px;
  background: #28a745;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: black;
}

.nav-links-mobile {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links-mobile a {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links-mobile {
    display: flex;
  }
}

.register-btn {
  color: #28a745;
  font-weight: bolder;
}
